<!DOCTYPE html>
<html>
<head>
  <%- head.title.toString() %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="<%- webpackAsset('vendor', 'css') %>">
  <link rel="stylesheet" type="text/css" href="<%- webpackAsset('bundle', 'css') %>">
</head>
<body>
  <div id="app"><%- content %></div>
  <div id="devtools"></div>
  <script src="<%- webpackAsset('vendor', 'js') %>"></script>
  <script type="text/javascript">window.__INITIAL_STATE__ = <%- initialState %></script>
  <script src="<%- webpackAsset('bundle', 'js') %>"></script>

</body>
</html>
